<table style="width: 100%">
<% if (item['attributes']){ %>
<% item.attributes.forEach(function(attr){ %>
  <tr>
    <td class="title" style="width: 30%">
      <%- Object.keys(attr)[0] %>
    </td>
    <td>
      <%- attr[Object.keys(attr)[0]] %>
    </td>
  </tr>
<% }); %>
<% } %>
</table>

<% if (item['uniquePassive']){ %>
<table style="width: 100%;position: absolute;top: 72px;">
<% item.uniquePassive.forEach(function(attr){ %>
  <tr>
    <td class="title" style="width: 30%">
      <%- Object.keys(attr)[0] %>
    </td>
    <td>
      <%- attr[Object.keys(attr)[0]] %>
    </td>
  </tr>
<% }); %>
</table>
<% } %>
