<table style="width: 100%">
<% if (item['attributes']){ %>
<% item.attributes.forEach(function(attr){ %>
  <tr>
    <td style="width: 20%;text-align: right;">
      +<%- attr[Object.keys(attr)[0]] %>&nbsp;
    </td>
    <td class="title">
      <%- Object.keys(attr)[0] %>
    </td>
  </tr>
<% }); %>
<% } %>
</table>

<% if (item['uniquePassive']){ %>
<table class="uniquePassive">
<% item.uniquePassive.forEach(function(attr){ %>
  <tr>
    <td class="title" style="width: 20%;text-align: right;">
      <%- Object.keys(attr)[0] %>&nbsp;
    </td>
    <td>
      <%- attr[Object.keys(attr)[0]] %>
    </td>
  </tr>
<% }); %>
</table>
<% } %>
