<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=1"
    />
    <link
      rel="shortcut icon"
      href="/images/logo.png"
    />
    <title><%- title %></title>
<style>
  .devs > img {
    width: 96px;
    padding: 16px;
  }
</style>
  </head>
  <body>
    <h1><%- title %></h1>
    <a class="devs" href="/developer/dwi">
      <img src="/images/developer/dwi_prabowo.jpg"/>
    </a>
    <a class="devs" href="/dwijpr">
      <img src="/images/dwijpr/dwi-scaled.png"/>
    </a>
  </body>
</html>
