<head>
  <link rel="icon" href="/images/logo.png">
  <title><%= title %></title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style><%- include('css/main.css') %></style>
  <style><%- include('css/draggable.css') %></style>
</head>
