<!DOCTYPE html>
<html>
  <%- include(`head`) %>
  <body>
    <a href="/">Home</a>
    <canvas style="position: absolute;" id="my-canvas"></canvas>
    <button
      style="
        background: green;
        color: white;
        font-size: 4em;
        width: 20%;
        position: fixed;
        z-index: 1000;
        bottom: 8px;
        left: 40%;
      "
      onclick="saveImage()"
    >&#8659;</button>

    <% let itemCount = 0 %>
    <% data.forEach(function(type){ %>
      <div style="
        border: 1px solid rgba(0, 0, 0, .1);
        margin: 64px 0px;
        overflow: auto;
      ">
      <% type.items.forEach(function(item){ %>
        <% item.id = itemCount %>
        <%- include(`index/item`, {
          item: item
          , itemCount: itemCount
          , equipment: equipment[itemCount]
        }) %>
        <% itemCount++ %>
      <% }); %>
      </div>
    <% }); %>

    <%- include(`index/draggable`, {items: equipment}) %>

    <%- include(`script`, {items: equipment}) %>
    <script
      src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"
    ></script>

  </body>
</html>
