html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  background: #f0f0f0;
  font-size: 8px;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 512px) {
  body {
    font-size: 14px;
  }
}
