.DraggableDiv {
  position: fixed;
  top: 38%;
  height: 24%;
  left: 10%;
  width: 80%;
  border: 1px solid #000000;
  background: #beccf3;
  box-shadow: 5px 5px 3px 0px rgba(97,97,97,0.5);
}

.DraggableDiv table.uniquePassive {
  width: 100%;
  position: absolute;
  top: 72px;
}
 
.DraggableDiv .Header {
  font-size: 1.325em;
  padding: 4px;;
  cursor: move;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  background-color: #566895;
}

.DraggableDiv div.price, button.close {
  font-size: .725em;
}

td.title {
  vertical-align: top;
  font-weight: bold;
}

.DraggableDiv div.price {
  border-radius: 15%;
  color: yellow;
  background: grey;
  padding: 4px;
  position: absolute;
  display: inline-block;
  right: 32px;
  top: 2px;
  font-family: monospace;
}

button.close {
  color: red;
  position: absolute;
  display: inline-block;
  right: 2px;
  top: 2px;
  font-family: monospace;
}

.DraggableDiv .Content div.images {
  position: absolute;
  padding: 0;
  right: 2px;
  top: 2px;
  width: 50%;
  text-align: center;
}

.DraggableDiv .Content div.images .tree {
  font-size: .725em;
  position: absolute;
  bottom: -2px;
  color: yellow;
  background: grey;
  width: 100%;
  padding: .75px;
}

.DraggableDiv .Content div.images .itemWithPrice {
  display: inline-block;
  position: relative;
  padding: 0;
  text-align: center;
}

@media only screen and (min-width: 512px) {
  .DraggableDiv {
    top: 30%;
    height: 40%;
  }
   
  .DraggableDiv .Header {
    font-size: 1.025em;
  }

  .DraggableDiv div.price, button.close {
    font-size: .525em;
  }

  .DraggableDiv .Content {
    font-size: .825em;
  }

  .DraggableDiv table.uniquePassive {
    top: 96px;
  }
}
