.DraggableDiv {
  position: fixed;
  top: 37%;
  left: 10%;
  width: 80%;
  height: 26%;
  border: 1px solid #000000;
  background: #beccf3;
  box-shadow: 5px 5px 3px 0px rgba(97,97,97,0.5);
}
 
.DraggableDiv div {
  padding: 5px;
}
 
.DraggableDiv .Header {
  cursor: move;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  background-color: #566895;
}

.DraggableDiv .Content {
  font-size: 7px;
}

td.title {
  width: 28%;
  vertical-align: top;
  font-weight: bold;
}

div.price {
  border-radius: 15%;
  color: yellow;
  background: grey;
  padding: 4px;
  position: absolute;
  display: inline-block;
  right: 32px;
  top: 2px;
  font-size: 8px;
  font-family: monospace;
}

button.close {
  color: red;
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 4px;
  font-size: 8px;
  font-family: monospace;
}
