<%
iconList = [
  'wallet', 'square-rounded-plus', 'list-details', 'home', 'help',
  'circle-filled', 'brand-x-filled', 'check',
];
iconSize = 48;
%>

.icon {
  width: <%-iconSize%>px;
  height: <%-iconSize%>px;
}

<% for (let i = 0; i < iconList.length; i++) { %>
<%
const icon = iconList[i];
%>
.icon.<%-icon%> {
  background-size: <%-iconSize%>px;
  background-color: grey;

  mask: url(<%-icons%><%-icon%>.svg) no-repeat center;
  mask-size: <%-iconSize*(2/3)%>px;
  -webkit-mask: url(<%-icons%><%-icon%>.svg) no-repeat center;
  -webkit-mask-size: <%-iconSize*(2/3)%>px;
}
<% } %>

.icon.inline {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;

  mask-size: 16px;
  -webkit-mask-size: 16px;
}

.icon.active {
  background-color: white;
}

.icon.danger {
  background-color: #cc0000;
}
.icon.success {
  background-color: #007e33;
}
.icon.warn {
  background-color: #ff8800;
}
.icon.info {
  background-color: #0099cc;
}
