*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

nav, main {
  padding: 2px;
  width: 100%;
}

html {
  height: calc(100% - 64px);
}

body, main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
