nav {
  background-color: #8e008e;
  position: fixed;
  bottom: 0;

  border-top: 1px solid grey;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
}
