<div id="bgTop">
  <div class="cloudWrapper"></div>
  <div class="cloudWrapper"></div>
</div>
<div id="bg"></div>
<div class="treeWrapper">
  <div class="mountain" style="bottom: 12px;left: 0px;"></div>
  <div class="mountain" style="bottom: 12px;left: 300px;"></div>

  <div style="
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    bottom: 12px;
  "></div>

  <div class="tree" style="bottom: 4px;right: 4px";></div>
  <div class="tree" style="bottom: 0px;right: -20px";></div>

  <div class="tree" style="bottom: 4px;right: 160px";></div>
  <div class="tree" style="bottom: 0px;right: 135px";></div>

  <div class="tree" style="bottom: 4px;right: 220px";></div>
  <div class="tree" style="bottom: 2px;right: 260px";></div>
  <div class="tree" style="bottom: 0px;right: 235px";></div>

  <div class="tree" style="bottom: 4px;left: 20px";></div>
  <div class="tree" style="bottom: 2px;left: 60px";></div>
  <div class="tree" style="bottom: 0px;left: 35px";></div>
  <div class="tree" style="bottom: 0px;left: 75px";></div>
</div>
<div id="playerWrapper">
  <div id="playerEl">
    <div id="playerIcon"></div>
  </div>
</div>

<div id="nav">
  <div id="subNav">
    <div id="subNavLocation">
      <img onclick="changeBg(1)" src="/images/rpg/bg1/bg1.png"/>
      <img onclick="changeBg(6)" src="/images/rpg/bg6/bg6.png"/>
      <img onclick="changeBg(31)" src="/images/rpg/bg31/bg31.png"/>
    </div>
    <div id="subNavUser">
      <img
        onclick="changePlayer()"
        src="/images/icons/user-change.png"
      />
      <img
        onclick="walk(this)"
        src="/images/icons/footprint.png"
      />
    </div>
  </div>
  <img src="/images/icons/map.png" onclick="locationNav()"/>
  <img src="/images/icons/user.png" onclick="userNav()"/>
</div>

<script><%- include('js/main.js') %></script>
