<div id="bgTop"></div>
<div id="bg">
  <div id="char"></div>
</div>
<!--
<button onclick="changeBG()">
  <h3>Background</h3>
</button>
-->
&nbsp;
<button onclick="changePlayer()">
  <h3>Player</h3>
</button>
&nbsp;
<button onclick="changePose()">
  <h3>Pose</h3>
</button>
&nbsp;
<button onclick="walk(this)">
  <h3>Walk</h3>
</button>

<script><%- include('js/main.js') %></script>
