<nav aria-label="On this page">
  <div>
    <ul>
      <li>
        <div class="icon wallet"></div>
      </li>
      <li>
        <div class="icon home"></div>
      </li>
      <li>
        <div class="icon list-details"></div>
      </li>
      <li>
        <div class="icon help"></div>
      </li>
    </ul>
  </div>
</nav>

<script><%- include('js/nav.js') %></script>
