body {
  margin: 0px;
  padding: 0px;
}

#nav {
  position: fixed;
  bottom: 16px;
  width: 100%;
  text-align: center;
  margin: 4px;
}
#nav img {
  width: 48px;
  padding: 4px 8px;
}
#subNavLocation img {
  width: 64px;
}
#subNav > div {
  display: none;
}

#bgTop {
  width: 480px;
  height: 128px;
  background-color: skyBlue;
  position: relative;
  overflow: hidden;
}

.cloudWrapper {
  width: 480px;
  height: 128px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.cloud {
  position: absolute;
}
<%- include('clouds.css') %>

.treeWrapper {
  width: 480px;
  height: 144px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.bush {
  height: 24px;
  width: 24px;
  position: absolute;
  background-image: url(images/rpg/bush.png);
}
.tree {
  height: 80px;
  width: 45px;
  position: absolute;
  background-image: url(images/rpg/tree.png);
}
.house {
  height: 99px;
  width: 96px;
  position: absolute;
  background-image: url(images/rpg/house.png);
}
.mountain {
  height: 32px;
  width: 356px;
  position: absolute;
  background-image: url(images/rpg/green-mountain.png);
}
.wall {
  height: 42px;
  width: 480px;
  position: absolute;
  background-image: url(images/rpg/wall.png);
}

#bg {
  width: 480px;
  height: 128px;
  background-image: url(images/rpg/road/cornelia_road.png);
  background-repeat: repeat;
  background-size: 480px;
  position: relative;
  -webkit-animation: up 60s linear infinite;
}
@-webkit-keyframes up {
  from { background-position: 0px 0px; }
  to { background-position: 0px -256px; }
}

#playerWrapper {
  width: 480px;
  height: 128px;
  background-image: none;
  position: absolute;
  top: 128px;
}
#playerEl {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(images/rpg/worldmap_chars.png) -4px -4px;
  background-size: 888px;
  right: 64px;
  top: -16px;
}
#playerIcon {
  position: absolute;
  width: 32px;
  height: 20px;
  background: none 320px 42px;
  background-size: 704px;
  right: 24px;
  top: -10px;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
